<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only - Home</title>
  </head>
  <body>
    <h1>Hello. This is the index.</h1>

    <% if (currentUser) { %>
    <p>Welcome, <%= currentUser.first_name %>!</p>
    <p>
      You're logged in as <%= currentUser.username %>. Your membership status
      is: <%= currentUser.membership_status %>.
    </p>

    <% if (currentUser.membership_status == "regular") { %>
    <a href="/join">Join the Club</a> | <% } %> 
    <% if (currentUser.membership_status == "premium") { %>
    <a href="/leave">Leave the Club</a> |
    <a href="/admin">Become an Admin</a> |
    <% } %>

    <a href="/post">Create a New Post</a> |
    <a href="/log-out">Log Out</a>
    <hr />
    <h2>Posts</h2>
    <% if (posts.length > 0) { %>
      <% posts.forEach(post => { %>
          <div>
              <h3><%= post.title %></h3>
              <p><%= post.text %></p>
              <p><small>
                <% if (currentUser && currentUser.membership_status !== "regular") { %>
                    Posted by <%= post.username %> on <%= new Date(post.timestamp).toLocaleString() %>
                <% } else { %>
                    Posted by Anonymous %>
                <% } %>
            </small></p>
            </div>
          <hr>
      <% }) %>
    <% } else { %>
        <p>No posts available.</p>
    <% } %>


    <% } else { %>
    <a href="/log-in">Log In</a> |
    <a href="/sign-up">Sign Up</a>
    <% } %>
  </body>
</html>
